html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    
}
body{
    background-image:url("/images/wallpaper/friends-wlp.jpg");
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
    the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
    on the container's size */
    background-size: cover;
}
.welcome-section{
    border: 3px solid blue;
    display: inline-block;
    margin:20%;
    padding: 2%;
}
.welcome-div{
    border: 3px solid red;
    display:inline-block;
}

/* DYLAN seatchtable */
.welcome-div:third,myinput{
    position: absolute;
    top: 250px;
    right:320px;

    border-collapse: collapse;
}
.dy-bor{
    border: 1px solid rgb(0, 0, 0);
    background-color: #9ca9b6;
    cursor: pointer;
}
.dy-bor:hover{
    background-color: aquamarine;
}
.td-dy{
    font-size: 20px;
}
